<div class="relative date-picker w-full">
  <label *ngIf="label" class="block text-gray-600 dark:text-gray-400 text-sm font-medium mb-1">
    {{ label }} <span *ngIf="required" class="text-danger">*</span>
  </label>

  <div
    class="w-full px-4 py-2 border rounded-sm cursor-pointer bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100 flex items-center justify-between transition"
    [ngClass]="[
      getSizeClasses(),
      error ? 'border-danger' : 'border-gray-200 dark:border-gray-700',
      disabled ? 'opacity-50 cursor-not-allowed' : ''
    ]"
    (click)="toggle()"
  >
    <span>{{ displayValue }}</span>
    <lucide-angular [img]="calender" size="16"></lucide-angular>
  </div>

  <!-- Calendar -->
  <div
    *ngIf="open"
    class="absolute z-50 mt-2 w-72 rounded-md border shadow-lg bg-white dark:bg-gray-900 p-3"
  >
    <!-- Header -->
    <div class="flex justify-between items-center mb-2">
      <button (click)="prevMonth()" class="px-2">‹</button>
      <span class="font-medium"> {{ viewYear }} - {{ viewMonth + 1 | number : '2.0' }} </span>
      <button (click)="nextMonth()" class="px-2">›</button>
    </div>

    <!-- Days -->
    <div class="grid grid-cols-7 text-center text-xs mb-1">
      <span *ngFor="let d of ['S', 'M', 'T', 'W', 'T', 'F', 'S']">{{ d }}</span>
    </div>

    <div class="grid grid-cols-7 gap-1 text-sm">
      <span *ngFor="let _ of [].constructor(startDay())"></span>

      <button
        *ngFor="let day of [].constructor(daysInMonth()); let i = index"
        (click)="selectDay(i + 1)"
        class="h-8 rounded transition"
        [class.bg-blue-600]="isSelected(i + 1)"
        [class.text-white]="isSelected(i + 1)"
        class:hover:bg-gray-200
        dark:hover:bg-gray-700
      >
        {{ i + 1 }}
      </button>
    </div>
  </div>

  <p *ngIf="error" class="text-sm text-danger mt-1">{{ error }}</p>
  <p *ngIf="hint && !error" class="text-sm text-gray-500 mt-1">{{ hint }}</p>
</div>
