<div class="flex flex-col gap-4">
  @if (categories.length == 0 && !loading) {
    <app-no-data actionLabel="Add Category" (action)="openCreateModal()"></app-no-data>
  } @else {
    <div class="flex items-start sm:items-center sm:flex-row flex-col justify-between gap-2">
      <!-- <h2 class="text-lg sm:text-xl font-semibold">Category List</h2> -->
      <div class="flex items-center gap-2">
        <app-input
          type="text"
          placeholder="Search categories..."
          (inputChange)="onSearchChange($event)"
        />
        <app-button (click)="openCreateModal()" variant="primary">
          <div class="flex gap-1 items-center p-0.5">
            <lucide-angular size="20" [img]="plusIcon"></lucide-angular>
            <span class="hidden sm:flex">Add Category</span>
          </div>
        </app-button>
      </div>
    </div>
    <!-- DataTable -->
    <app-datatable
      [columns]="columns"
      [data]="categories"
      [loading]="loading"
      [actionsTemplate]="actions"
    ></app-datatable>

    <!-- Pagination -->
    <app-pagination
      [page]="page"
      [total]="total"
      (pageChange)="onPageChange($event)"
      (limitChange)="onLimitChange($event)"
    ></app-pagination>
  }
</div>

<ng-template #actions let-category>
  <div class="flex items-center gap-2">
    <app-button size="sm" variant="outline" (click)="edit(category)">
      <div class="flex gap-1 items-center">
        <lucide-angular size="14" [img]="editIcon"></lucide-angular>
      </div>
    </app-button>

    <app-button size="sm" variant="danger" (click)="openConfirm(category)">
      <div class="flex gap-1 items-center">
        <lucide-angular size="16" [img]="deleteIcon"></lucide-angular>
      </div>
    </app-button>
  </div>
</ng-template>

<ng-template #createdAtTpl let-category>
  {{ category.createdAt | date: 'mediumDate' }}
</ng-template>

<ng-template #colorTpl let-category>
  <div class="flex items-center gap-2">
    <div class="h-4 w-4 pr-2 rounded border" [style.background]="category?.color"></div>
    <span [style.color]="category?.color"> {{ category?.color }}</span>
  </div>
</ng-template>

<app-confirm-dialog
  [open]="confirmOpen"
  [title]="'Delete Project?'"
  message="Are you sure you want to delete ?"
  (confirm)="remove(category)"
  (cancel)="confirmOpen = false"
></app-confirm-dialog>

<app-modal
  [showFooter]="false"
  [isOpen]="isModalOpen"
  (close)="isModalOpen = false"
  [title]="modalTitle"
>
  @if (isModalOpen) {
    <div class="p-1 pb-6 border-b">
      <app-category-form
        (saved)="isModalOpen = false; fetchCategories()"
        [projectId]="filters.projectId"
        [category]="category"
      ></app-category-form>
    </div>

    <div class="flex justify-end gap-2 pt-4">
      <app-button size="sm" type="button" variant="outline" (click)="isModalOpen = false"
        >Cancel</app-button
      >
      <app-button size="sm" type="submit" variant="secondary" (click)="categoryForm.submit()"
        >Save</app-button
      >
    </div>
  }
</app-modal>
