<form [formGroup]="form" (ngSubmit)="onSubmit()" class="max-w-sm">
  <!-- Current Password -->
  <div class="mb-4">
    <app-input
      label="Current Password"
      type="password"
      formControlName="oldPassword"
      placeholder="Enter current password"
      class="input"
    />
    <p
      *ngIf="form.get('oldPassword')?.touched && form.get('oldPassword')?.invalid"
      class="text-red-500 text-xs mt-1"
    >
      Current password is required
    </p>
  </div>

  <!-- New Password -->
  <div class="mb-4">
    <app-input
      type="password"
      formControlName="newPassword"
      placeholder="Enter new password"
      class="input"
      label="New Password"
    />
    <p
      *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.invalid"
      class="text-red-500 text-xs mt-1"
    >
      Password must be at least 8 characters
    </p>
  </div>

  <!-- Confirm New Password -->
  <div class="mb-4">
    <app-input
      type="password"
      formControlName="confirmPassword"
      placeholder="Confirm new password"
      class="input"
      label="Confirm New Password"
    />
    <p
      *ngIf="form.get('confirmPassword')?.touched && form.hasError('mismatch')"
      class="text-red-500 text-xs mt-1"
    >
      Passwords do not match
    </p>
  </div>

  <div class="flex items-center gap-2 mt-6">
    <app-button type="button" variant="outline" (click)="resetForm()">
      <!-- <lucide-angular [img]="closeIcon"></lucide-angular> -->
      Reset
    </app-button>
    <app-button variant="secondary" type="submit" [disabled]="form.invalid || saving">
      <!-- <lucide-angular [img]="checkIcon"></lucide-angular> -->
      Save
    </app-button>
  </div>

  <p *ngIf="successMessage" class="text-green-600 mt-4 text-sm">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="text-red-600 mt-4 text-sm">{{ errorMessage }}</p>
</form>
