<div class="flex flex-col gap-4">
  @if(expenses.length > 0) {
  <div class="flex items-start sm:items-center justify-between gap-2 sm:flex-row flex-col">
    <h2 class="text-lg sm:text-xl font-semibold">Expenses</h2>
    <div class="flex items-center gap-2">
      <app-input
        type="text"
        placeholder="Search expenses..."
        (inputChange)="onSearchChange($event)"
      />
      <div class="flex gap-2 items-center">
        <app-button (click)="openCreateSheet()" variant="primary">
          <div class="flex gap-1 items-center p-0.5">
            <lucide-angular size="20" [img]="plusIcon"></lucide-angular>
            <span class="hidden sm:flex">Add Expense</span>
          </div>
        </app-button>
        <app-button variant="outline" (click)="filtersOpen = true">
          <lucide-angular size="20" [img]="filterIcon"></lucide-angular>
        </app-button>
      </div>
    </div>
  </div>
  <!-- DataTable -->
  <app-datatable
    [columns]="columns"
    [data]="expenses"
    [loading]="loading"
    [actionsTemplate]="actions"
  ></app-datatable>

  <!-- Pagination -->
  <app-pagination
    [page]="page"
    [total]="total"
    (pageChange)="onPageChange($event)"
    (limitChange)="onLimitChange($event)"
  ></app-pagination>
  } @else {
  <app-no-data actionLabel="Add Expense" (action)="openCreateSheet()"></app-no-data>
  }
</div>

<ng-template #actions let-expense>
  <div class="flex items-center gap-2">
    <!-- <app-button size="sm" variant="outline">
      <div class="flex gap-1 items-center">
        <lucide-angular size="14" [img]="eyeIcon"></lucide-angular>
      </div>
    </app-button> -->

    <app-button size="sm" variant="outline" (click)="manage(expense)">
      <div class="flex gap-1 items-center">
        <lucide-angular size="14" [img]="settingsIcon"></lucide-angular>
        <!-- <span>Edit</span> -->
      </div>
    </app-button>

    <app-button size="sm" variant="danger" (click)="openConfirm(expense)">
      <div class="flex gap-1 items-center">
        <lucide-angular size="16" [img]="deleteIcon"></lucide-angular>
        <!-- <span>Delete</span> -->
      </div>
    </app-button>
  </div>
</ng-template>

<ng-template #incurredAtTpl let-expense>
  {{ expense.incurredAt | date : 'mediumDate' }}
</ng-template>

<ng-template #amountTpl let-expense> {{ expense.currency }} {{ expense.amount }} </ng-template>

<app-confirm-dialog
  [open]="confirmOpen"
  [title]="'Delete Project?'"
  message="Are you sure you want to delete ?"
  (confirm)="remove(selectedExpense); confirmOpen = false"
  (cancel)="confirmOpen = false"
></app-confirm-dialog>

<!-- Side Sheet -->

<app-side-sheet [(open)]="sideSheetOpen" width="500px">
  <div slot="title">
    {{ selectedExpense ? 'Edit Expense' : 'Add Expense' }}
  </div>
  @if(sideSheetOpen) {
  <app-expense-form
    [expense]="selectedExpense"
    [projectId]="filters.projectId"
    (saved)="onSave()"
  ></app-expense-form>
  }
  <div slot="footer" class="flex justify-end gap-2 mt-4">
    <app-button type="button" variant="outline" (click)="sideSheetOpen = false"> Cancel</app-button>
    <app-button type="submit" variant="secondary" (click)="expenseForm.submit()">Save</app-button>
  </div>
</app-side-sheet>

<app-side-sheet
  [(open)]="openManage"
  (openChange)="$event == false ? this.fetchExpenses() : ''"
  width="800px"
  class="max-w-7xl"
>
  <div slot="title">Manage Expense ({{ expense && expense.id }})</div>
  @if(expense) {
  <app-manage-expense
    (showAttachReceipt)="showReceiptModal = true"
    (showReceiptView)="openFilePreview()"
    [expense]="expense"
    [categoriesDropdown]="categoriesDropdown"
    [tasksDropdown]="tasksDropdown"
    [cyclesDropdown]="cyclesDropdown"
  ></app-manage-expense>
  }
  <div slot="footer" class="flex justify-end gap-2">
    <app-button variant="outline" (click)="openManage = false; fetchExpenses()">Close</app-button>
  </div>
</app-side-sheet>

<!-- Filters -->
<app-side-sheet [(open)]="filtersOpen" width="500px">
  <div slot="title">Filters</div>

  <div class="w-full flex flex-col gap-3">
    <!-- Date Range -->
      <!-- <app-date-picker
        label="Start Date"
        [(ngModel)]="filters.startDate"
        (ngModelChange)="filters.page = 1"
      ></app-date-picker>

      <app-date-picker
        label="End Date"
        [(ngModel)]="filters.endDate"
        (ngModelChange)="filters.page = 1"
      ></app-date-picker> -->

    <!-- Category -->
    <app-select
      label="Category"
      [options]="categoriesDropdown.items || []"
      itemLabel="name"
      itemValue="id"
      [(ngModel)]="filters.categoryId"
      placeholder="All"
      (ngModelChange)="filters.page = 1"
    ></app-select>

    <!-- Task -->
    <app-select
      label="Task"
      [options]="tasksDropdown.items || []"
      itemLabel="name"
      itemValue="id"
      [(ngModel)]="filters.taskId"
      placeholder="All"
      (ngModelChange)="filters.page = 1"
    ></app-select>

    <!-- Min & Max Amount -->
      <!-- <app-input
        type="number"
        label="Min Amount"
        [(ngModel)]="filters.minAmount"
        placeholder="0"
        (ngModelChange)="filters.page = 1"
      ></app-input>

      <app-input
        type="number"
        label="Max Amount"
        [(ngModel)]="filters.maxAmount"
        placeholder="0"
        (ngModelChange)="filters.page = 1"
      ></app-input> -->
  </div>

  <!-- Footer Buttons -->
  <div slot="footer" class="flex justify-end gap-2">
    <app-button type="button" variant="outline" (click)="resetFilters()">Reset</app-button>

    <app-button type="button" variant="secondary" (click)="applyFilters()">Apply</app-button>
  </div>
</app-side-sheet>

@if(selectedExpense){
<app-modal
  [width]="'800px'"
  [isOpen]="previewOpen"
  (close)="previewOpen = false"
  [title]="previewFileName"
  [showFooter]="false"
>
  <div class="flex justify-center items-center">
    <ng-container *ngIf="isImage(previewFileUrl); else pdfTemplate">
      <img [src]="previewFileUrl" class="max-w-full max-h-[70vh] rounded" />
    </ng-container>

    <ng-template #pdfTemplate>
      <iframe [src]="previewFileUrl | safeUrl" class="w-full h-[70vh]"></iframe>
    </ng-template>
  </div>
</app-modal>
} @if(showReceiptModal){
<app-modal
  [width]="'500px'"
  [isOpen]="showReceiptModal"
  (close)="showReceiptModal = false"
  [title]="'Attach Receipt'"
  [showFooter]="false"
>
  <div class="flex flex-col gap-4">
    <!-- Select Dropdown for Receipts -->
    <app-select
      [options]="receiptsDropdown.items"
      placeholder="Select a receipt"
      [(ngModel)]="selectedReceiptUrl"
      (ngModelChange)="onReceiptSelect($event)"
    ></app-select>
    @if(selectedReceiptUrl){
    <!-- Preview -->
    <div class="flex justify-center items-center mt-4">
      <ng-container *ngIf="isImage(selectedReceiptUrl); else pdfTemplate">
        <img
          [src]="getUploadedFileUrl(selectedReceiptUrl)"
          class="max-w-full max-h-[50vh] rounded"
        />
      </ng-container>

      <ng-template #pdfTemplate>
        <iframe
          [src]="getUploadedFileUrl(selectedReceiptUrl) | safeUrl"
          class="w-full h-[50vh]"
        ></iframe>
      </ng-template>
    </div>
    }
    <div class="flex justify-end gap-2 pt-4">
      <app-button size="sm" type="button" variant="outline" (click)="showReceiptModal = false"
        >Cancel</app-button
      >
      <app-button [disabled]="!selectedReceiptUrl" size="sm" variant="secondary">Save</app-button>
    </div>
  </div>
</app-modal>
}
